<% title "Mis cursos" %>

<table class="r">
  <tr>
    <th class="r">Código</th>
    <th class="r">Nombre</th>
    <th class="r">Grupo</th>
  </tr>

  <% @courses.each do |course| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="r"><%= course["codigo"].upcase %></td>
      <td class="r"><%= course["nombre"] %></td>
      <td class="r"><%= link_to course["grupo"], course_path(course["codigo"], :group => course["grupo"]) %></td>
    </tr>
  <% end %>
</table>

<h2>Buscar un estudiante</h2>

<div class="center">
  <%= form_tag search_students_path, :method => :get, :remote => true, :id => "search_students_form" do %>
    <%= label_tag :name_pattern, "Parte del nombre" %>
    <%= text_field_tag :name_pattern %>
    <%= submit_tag "Buscar" %>
  <% end %>

  <div class="spinner">
    <%= image_tag "spinner.gif" %>
  </div>

  <div id="search_results">
  </div>
</div>